body {
    font-size: 100%; /* start value*/
    margin: auto;  /* centers the page */
    max-width: 860px;  
  }
 
  section, header, footer {
    outline: 1px solid rgb(0, 0, 0);
  }
 
  header {
    text-align: center;
  }
 
  .startpage h1 {
    font-size: 500%; /* Big title on the start page*/
  }
 
  .tagline {
    font-size: 120%;
    padding: 0.5em; /* distance to the border*/
    border-top: 3px double #000000;
    border-bottom: 3px double #000000;
    margin: 1em 0; /* distance downwards but not upwards*/
  }
 
   .menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #5784a1;  /* very light gray*/
    text-align: center;
  }
 
  footer {
    margin-top: 3em;
    text-align: center;
    color: rgb(87, 140, 172);
  }

  .startpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
 
  .startpage header, .startpage footer {
    flex: 0 0 100%;
  }
 
  .startpage section {
    flex: 0 0 22%;
  }
  .menu a {
    text-decoration: none;
    color: #000;
  }
 
  .menu a:focus
  .menu a:hover {
    text-decoration: underline;
    color: #A62F00;
  }
  .menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #F5F5F5;
    text-align: center;
    box-shadow: inset 0 0 20px #467a83;
    border-radius: 0%;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .outer{
        height: 100vh;
        overflow-x: hidden;
    }
    *{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      }
      .outer{
          height: 100vh;
          overflow-x: hidden;
      }
      *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        }
        .outer{
            height: 100vh;
            overflow-x: hidden;
        }
        .inner{
            margin: 50px auto;
            width: 200px;
            height: 200px;
            background-image: url(https://www.freevector.com/uploads/vector/preview/28241/grooming-03.jpg); /* or url(https://www.....) if the image is online */
        
            background-size: cover;
            background-position: center;
            position: relative;
            box-shadow: 0px 0px 20px 4px rgba(74, 116, 163, 0.4);
        }
        .inner h1{
            width: 98%;
            text-align: center;
            font-size: 25px;
            color: rgb(49, 49, 49);
            border: 2px solid rgb(75, 104, 148);
            top: 45%;
            position: absolute;}